# Home Credit Default Risk

## Data Overview

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
# connect to postgres
url = "postgresql://postgres:password@localhost:5433/final_project"
engine = create_engine(url)

In [6]:
# extract train data
application_train = pd.read_sql('select * from home_credit_default_risk_application_train', con=engine)
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100050,0,Cash loans,F,N,Y,0,108000.0,746280.0,42970.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1,191412,0,Cash loans,F,N,Y,1,144000.0,1029784.5,57631.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
2,282837,0,Cash loans,M,N,Y,0,135000.0,1105632.0,32328.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
3,100051,0,Cash loans,M,N,Y,0,202500.0,661702.5,48280.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,374019,0,Cash loans,F,N,N,0,51750.0,189000.0,10980.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0

In [7]:
# extract test data
application_test = pd.read_sql('select * from home_credit_default_risk_application_test', con=engine)
application_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100352,Cash loans,M,Y,Y,1,180000.0,729792.0,37390.5,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,306378,Cash loans,M,N,N,0,76500.0,272520.0,16803.0,225000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,409383,Cash loans,F,Y,Y,0,157500.0,400392.0,42174.0,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
3,100358,Cash loans,F,N,Y,0,202500.0,798777.0,51178.5,697500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
4,306389,Cash loans,F,N,Y,0,103500.0,63000.0,6583.5,63000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

In [30]:
# drop columns if null value is more than 60%

drop_columns = []
for col in application_train.columns:
    null_pct = application_train[col].isna().sum() / len(application_train)
    if null_pct > 0.06:
        drop_columns.append(col)

In [31]:
application_train_clean = application_train.drop(drop_columns, axis=1)
application_train_clean.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100050,0,Cash loans,F,N,Y,0,108000.0,746280.0,42970.5,...,0,0,0,0,0,0,0,0,0,0
1,191412,0,Cash loans,F,N,Y,1,144000.0,1029784.5,57631.5,...,0,0,0,0,0,0,0,0,0,0
2,282837,0,Cash loans,M,N,Y,0,135000.0,1105632.0,32328.0,...,0,0,0,0,0,0,0,0,0,0
3,100051,0,Cash loans,M,N,Y,0,202500.0,661702.5,48280.5,...,0,0,0,0,0,0,0,0,0,0
4,374019,0,Cash loans,F,N,N,0,51750.0,189000.0,10980.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
application_test_clean = application_test.drop(drop_columns, axis=1)
application_test_clean.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100352,Cash loans,M,Y,Y,1,180000.0,729792.0,37390.5,630000.0,...,0,0,0,0,0,0,0,0,0,0
1,306378,Cash loans,M,N,N,0,76500.0,272520.0,16803.0,225000.0,...,0,0,0,0,0,0,0,0,0,0
2,409383,Cash loans,F,Y,Y,0,157500.0,400392.0,42174.0,360000.0,...,0,0,0,0,0,0,0,0,0,0
3,100358,Cash loans,F,N,Y,0,202500.0,798777.0,51178.5,697500.0,...,0,0,0,0,0,0,0,0,0,0
4,306389,Cash loans,F,N,Y,0,103500.0,63000.0,6583.5,63000.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# Import clean data to database
application_train_clean.to_sql('home_credit_default_risk_application_train_clean', index=False, con=engine, if_exists='replace')
application_test_clean.to_sql('home_credit_default_risk_application_test_clean', index=False, con=engine, if_exists='replace')

744

# Preprocessing

In [12]:
# Splitting data
X_train = application_train_clean.drop(columns=['TARGET'],axis=1)
y_train = application_train_clean['TARGET']
X_test = application_test_clean

In [13]:
# Numerical Columns
num=X_train.select_dtypes(exclude='object').columns

# Categorical Columns
cat=X_train.select_dtypes(include='object').columns

# Logistic Regression Modelling

In [20]:
# import libraries
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LogisticRegression
from imblearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

from sklearn.metrics import precision_recall_fscore_support

In [21]:
# Transformer and Modelling Steps
cat_transformer = Pipeline([
    ("c_i", SimpleImputer(strategy="most_frequent")),
    ("e", OneHotEncoder(handle_unknown = "ignore"))
])

num_transformer = Pipeline([
    ("n_i", SimpleImputer(strategy="median"))
])

transformers = [
    ("n_t", num_transformer, num),
    ("c_t", cat_transformer, cat)
]

model = Pipeline([
    ("pre", ColumnTransformer(transformers=transformers)),
    ("model", LogisticRegression(max_iter=1000))
])

In [22]:
# Fitting model
model.fit(X_train, y_train)

Pipeline(steps=[('pre',
                 ColumnTransformer(transformers=[('n_t',
                                                  Pipeline(steps=[('n_i',
                                                                   SimpleImputer(strategy='median'))]),
                                                  Index(['SK_ID_CURR', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLA...
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('e',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'WEEKDAY_APPR_PROCESS_START',
       'ORGANIZATION_TYPE'],
      dtype='object'))])),
                ('model', LogisticRegression(max_iter=1000))])

In [23]:
# Predict
y_test = model.predict(X_test)

In [24]:
# Prediction Probability
y_prob = model.predict_proba(X_test)

# Upload ML result to postgres

In [25]:
# combine the result of machine learning

# get id
ml_result = X_test[['SK_ID_CURR']]

# add ml result
ml_result['prediction_target'] = y_test.tolist()
ml_result['probability'] = y_prob.tolist()

ml_result

C:\Users\Margeurite\AppData\Local\Temp\ipykernel_21960\3563113285.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_result['prediction_target'] = y_test.tolist()
C:\Users\Margeurite\AppData\Local\Temp\ipykernel_21960\3563113285.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_result['probability'] = y_prob.tolist()

,SK_ID_CURR,prediction_target,probability
0,100352,0,"[0.9405267136867164, 0.05947328631328359]"
1,306378,0,"[0.8261956337926136, 0.17380436620738637]"
2,409383,0,"[0.9334212637923389, 0.06657873620766108]"
3,100358,0,"[0.9296724578840034, 0.07032754211599658]"
4,306389,0,"[0.9537252711473637, 0.046274728852636275]"
...,...,...,...
48739,202438,0,"[0.853111694074581, 0.14688830592541902]"
48740,100331,0,"[0.8943807427354276, 0.10561925726457248]"
48741,306372,0,"[0.8152814547391187, 0.18471854526088125]"
48742,202439,0,"[0.8961630987620447, 0.10383690123795529]"
48743,409377,0,"[0.8062281428282441, 0.1937718571717559]"

In [27]:
# upload ml result to postgres
ml_result.to_sql('home_credit_default_risk_application_ml_result', index=False, con=engine, if_exists='replace')

744